* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}
a:hover,
a:focus {
  text-decoration: underline;
}
h2{
    font-weight: 100;
    font-size: 36px;
    line-height: 1.2;
}
h3 {
  font-weight: 100;
  font-size: 24px;
}
em {
  font-weight: bold;
  font-style: normal;
  font-size:20px;
}
p{
    font-size: 20px;
}
li{
    font-size: 20px;
}
img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

/* NAVBAR*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #EAD6BB;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #3b3b3b;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, "Cambria", serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }


/* LAYOUT CSS */
.bigbutton {
  padding: 1.5em;
  margin: 1em;
  background-color: rgb(95, 139, 160);
  text-align: center;
}
.buttonz {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
}
.bigbutton a:link {
  color: rgb(255, 255, 255);
}
.bigbutton a:visited {
  color: rgb(255, 255, 255);
}

.map {
  width: 100%;
  height: 100%;
}

.linkz {
  text-align: center;
  font-family: Georgia, "Cambria", serif;
}
.l-box {
  padding: 1em;
}
img.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  background: rgb(61, 79, 93);
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}
.brand-title {
  text-transform: uppercase;
}
.brand-tagline {
  font-weight: 300;
  color: rgb(176, 202, 219);
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}
.post-title {
  font-size: 4em;
  color: #222;
  margin-bottom: 1em;
  font-family: 'Times New Roman', Times, serif;
}
.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}
.post-description {
  font-family: Georgia, "Cambria", serif;
  color: #444;
  line-height: 1.8em;
  margin-bottom: 5em;
}
.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}
.post-images {
  margin: 1em 0;
}
.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;
}
.footer a {
  color: #ccc;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}
.sidebar {
  display: none;
}
@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
  }

  .footer {
    text-align: center;
  }
}
